

.mentionI
{
	
font-family: 'Play', sans-serif;
font-size: 30px;
text-align: center;
color:black;
	
	
}

.Decalagetxt
{
	
	text-align:center;
	font-family: 'Play', sans-serif;
font-size: 15px;
text-align: center;
color:black;
	
}

.creditradio
{
font-size: 18px;

}

.Crdtmarqueimg
{
font-size: 18px;
font-weight:bold
	
}